section#agenda-header.first-section.green-background
  .container
    .row
      .col-xs-12.section-header
        .section-title
          | Agenda
        .section-line: hr

mixin slotTime(slotStart, slotEnd)
  .row
    .col-xs-12
      .slot-header
        hr.header-line
        .hour #{slotStart} - #{slotEnd}
        hr.header-line

mixin slotHeader(img, slotTitle)
  //- Image and title of a slot that doesn't have talks ( lunch, registration etc )
  if img
    .slot-img
      img(src=img)
    .slot-title #{slotTitle}

mixin speakerData(speakerName, speakerTitle, speakerPhoto)
  //- Speaker data from a slot
  if (speakerPhoto)
    .slot-photo
      img(src=speakerPhoto)
  if speakerName
    .slot-name #{speakerName}
  if speakerTitle
    .slot-title2 #{speakerTitle}

mixin slotDescription(slotTitle, slotDescription)
  if slotTitle
    .slot-talk-title(innerHTML=slotTitle)
  if slotDescription
    .slot-desc(innerHTML=slotDescription)

section#agenda-table.light-background
  #green-patch
  .container
    .row
      .col-xs-12
        tabs
          tab(tabTitle="8.12.2016")
            agendaTable(tableData="1")
            .my-agenda(*ngFor="let slot of agendaThursday")
              +slotTime("{{slot.slotStart}}", "{{slot.slotEnd}}")
              .row.row-adjust
                .col-xs-4(*ngFor="let oneSlot of slot.slotArray")
                  .one-slot
                    +slotHeader(
                      "{{slotImg(oneSlot.slotPicture)}}",
                      "{{oneSlot.slotTitle}}"
                    )
                    .speaker-data(*ngFor="let speaker of oneSlot.slotSpeaker")
                      +speakerData(
                        "{{getSpeaker(speaker) ? getSpeaker(speaker).firstName + ' ' + getSpeaker(speaker).lastName : null}}",
                        "{{getSpeaker(speaker) ? getSpeaker(speaker).websiteTitle : null}}",
                        "{{speakers[speaker - 1] ? getSpeakerImg(speakers[speaker - 1].imageUrl) : ''}}"
                      )
                    +slotDescription(
                      "{{getSession(oneSlot.slotSession) ? getSession(oneSlot.slotSession).sessionTitle : null}}",
                      "{{getSession(oneSlot.slotSession) ? getSession(oneSlot.slotSession).sessionDescription : null}}"
                    )
          tab(tabTitle="9.12.2016")
            agendaTable(tableData="2")
            .my-agenda(*ngFor="let slot of agendaFriday")
              +slotTime("{{slot.slotStart}}", "{{slot.slotEnd}}")
              .row.row-adjust
                .col-xs-4(*ngFor="let oneSlot of slot.slotArray")
                  .one-slot
                    +slotHeader(
                      "{{slotImg(oneSlot.slotPicture)}}",
                      "{{oneSlot.slotTitle}}"
                    )
                    .speaker-data(*ngFor="let speaker of oneSlot.slotSpeaker")
                      +speakerData(
                        "{{getSpeaker(speaker) ? getSpeaker(speaker).firstName + ' ' + getSpeaker(speaker).lastName : null}}",
                        "{{getSpeaker(speaker) ? getSpeaker(speaker).websiteTitle : null}}",
                        "{{speakers[speaker - 1] ? getSpeakerImg(speakers[speaker - 1].imageUrl) : ''}}"
                      )
                    +slotDescription(
                      "{{getSession(oneSlot.slotSession) ? getSession(oneSlot.slotSession).sessionTitle : null}}",
                      "{{getSession(oneSlot.slotSession) ? getSession(oneSlot.slotSession).sessionDescription : null}}"
                    )
          tab(tabTitle="10.12.2016")
            agendaTable(tableData="3")
            .my-agenda(*ngFor="let slot of agendaSaturday")
              +slotTime("{{slot.slotStart}}", "{{slot.slotEnd}}")
              .row.row-adjust
                .col-xs-4(*ngFor="let oneSlot of slot.slotArray")
                  .one-slot
                    +slotHeader(
                      "{{slotImg(oneSlot.slotPicture)}}",
                      "{{oneSlot.slotTitle}}"
                    )
                    .speaker-data(*ngFor="let speaker of oneSlot.slotSpeaker")
                      +speakerData(
                        "{{getSpeaker(speaker) ? getSpeaker(speaker).firstName + ' ' + getSpeaker(speaker).lastName : null}}",
                        "{{getSpeaker(speaker) ? getSpeaker(speaker).websiteTitle : null}}",
                        "{{speakers[speaker - 1] ? getSpeakerImg(speakers[speaker - 1].imageUrl) : ''}}"
                      )
                    +slotDescription(
                      "{{getSession(oneSlot.slotSession) ? getSession(oneSlot.slotSession).sessionTitle : null}}",
                      "{{getSession(oneSlot.slotSession) ? getSession(oneSlot.slotSession).sessionDescription : null}}"
                    )
